body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: 60px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
  box-sizing: border-box;
  transition: top 0.3s;
  z-index: 1000;
}

.logo {
  height: 160px;
}

.nav-links a {
  display: inline-block;
  margin-left: 20px;
  color: #121568;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #121568;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #121568;
  transition: width 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.hamburger {
  display: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.hamburger:hover {
  transform: scale(1.1);
}

.nav-modal {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: white;
  width: 100vw;
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13vh 0;
  gap: 1rem;
  
  /* Initially hidden to the right */
  transform: translateX(100%);
  transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.nav-modal-open {
  /* Slide in from right */
  transform: translateX(0);
}

.x {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.x:hover {
  transform: scale(1.1) rotate(90deg);
}

.nav-modal a {
  text-decoration: none;
  color: #121568;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  transition: background-color 0.2s ease;
  width: 80%;
  text-align: center;
  transition: ease-in-out 0.2s all;
}

.nav-modal a:hover {
  scale: 1.2;
}

/* Optional backdrop overlay */
.nav-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 0;
  animation: fadeIn 0.4s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 480px) {
  .logo {
    height: 100px;
  }

  .nav-links {
    display: none;
  }
  
  .hamburger {
    display: block;
  }
}
